*.exe
*.bld
*.chk
*.cmd_log
*.cxt
*.gyd
*.jed
*.log
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.tspec
*.vm6
*.xml
*.xst
*.xreport
*_build.xml
*_summary.html
*_envsettings.html
*_html/
*_ngdbuild.xrpt
*_pad.csv
*_vhdl.prj
*_xst.xrpt
_xmsgs/*
_ngo/
fuse.log
fuse.xmsgs
fuseRelaunch.cmd
isim.cmd
isim.log
isim/
t1.dat
t1.phd
t55.dat
t55.phd
t6.dat
t6.phd
tmperr.err
webtalk_pn.xml
wimbledon_tb_isim_beh.wdb
xilinxsim.ini
xlnx_auto_0_xdb/
xst/
iseconfig/

